@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Chewy&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Boogaloo', cursive;
}
#Inicio{
    padding:10px 3%;

}

